/* Custom CSS Values */

/* all pages */
body {
  margin-bottom: 120px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

.card-header {
  background-color: #333;
  color:#eeeeee;
}

/* top of pages */
header .bg-custom {
  background-color: #333;
}

/* central page area components */
/* main landing page */
.jumbotron {
  background-color: #eeeeee;
}

/* search page */
.searchCard {
  background-color: #eeeeee;
  border-style: none;
}

/* user page */
.userCard{
  background-color: #eeeeee;
  border-style: none;
}

/* character page */
.characterSheet {
  background-color: #eeeeee;
  border-style: none;
}

.charSaveBtn {
  float: right;
}

meter {
  width: 150px;
}

.trackedChange {
  font-weight: bold;
  color: green;
}

/* bottom of pages */
.footer {
  bottom: 0px;
  position: fixed;
  margin-bottom: 0;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #eeeeee;
}